<h1>Edit Budget</h1>
<%= form_for :budget, url: budget_path(@budget), method: :patch do |f| %>
 
  <% if @budget.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@budget.errors.count, "error") %> prohibited
        this budget from being saved:
      </h2>
      <ul>
        <% @budget.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
<%
=begin
%>
  <p>
    <%= f.label :month %><br>
    <%= f.date_field :month %>
  </p>
<%
=end
%>
 
  <p>
    <%= f.label :target %><br>
    <%= f.number_field :target %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Budgets', budgets_path %>