<h1>New Budget</h1>
<%= form_for :budget, url: user_budgets_path do |f| %>
 
  <% if @budget.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@budget.errors.count, "error") %> prohibited
        this budget from being saved:
      </h2>
      <ul>
        <% @budget.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :month %><br>
    <%= f.date_field :month %>
  </p>
 
  <p>
    <%= f.label "How much would you like to put into savings this month?" %><br>
    <%= f.number_field :target, :step=> 0.01 %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'My Budgets', user_budgets_path %>