<p>
    Budget For:
    <%= @budget.month.strftime('%B %Y') %>
</p>

<h2>Expenses</h2>

<table>
  <tr>
    <th>Expense Name</th>
    <th>Target</th>
    <th>Amount</th>
  </tr>
 
  <% @expenses.each do |expense| %>
    <tr>
      <td><%= expense.names %></td>
      <td><%= number_to_currency(expense.target) %></td>
      <td><%= number_to_currency(expense.amount) %></td>
      <td><%= link_to 'Show', budget_expense_path(expense) %></td>
      <td><%= link_to 'Edit', edit_budget_expense_path(expense) %></td>
      <td><%= link_to 'Destroy',
                                budget_expense_path(expense),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= form_for([@budget, @budget.expenses.build]) do |f| %>
<p>
    <%= f.label :name %><br>
    <%= f.text_field :names %>
  </p>
 
  <p>
    <%= f.label :target %><br>
    <%= f.number_field :target %>
  </p>
  <p>
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </p>
  
  <p>
    <%= f.label :reocurring %>
    <%= f.check_box :reocurring %>
  </p>
    <p>
    <%= f.label :stable %>
    <%= f.check_box :stable %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>

<p>
    Savings Target:
    <%= number_to_currency(@budget.target) %>
    Current Total:
    <%= number_to_currency(@budget.total) %>
</p>

<%= link_to 'All budgets', budgets_path %>