<p>
    Budget For:
    <%= @budget.month.strftime('%B %Y') %>
</p>

<h2>Incomes</h2>

<table class>
  <tr>
    <th>Income Name</th>
    <th>Amount</th>
    <th colspan="3">Actions</th>
  </tr>
 
  <% @incomes.each do |income| %>
    <tr>
      <td><%= income.names %></td>
      <td><%= number_to_currency(income.amount) %></td>
      <td><%= link_to 'Show', income_path(income) %></td>
      <td><%= link_to 'Edit', edit_income_path(income) %></td>
      <td><%= link_to 'Destroy',
                                income_path(income),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add an income', new_budget_income_path(@budget) %>

<h2>Expenses</h2>

<table class>
  <tr>
    <th>Expense Name</th>
    <th>Target</th>
    <th>Amount</th>
    <th colspan="3">Functionality</th>
  </tr>
 
  <% @expenses.each do |expense| %>
    <tr>
      <td><%= expense.names %></td>
      <td><%= number_to_currency(expense.target) %></td>
      <td><%= number_to_currency(expense.amount) %></td>
      <td><%= link_to 'Show', expense_path(expense) %></td>
      <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
      <td><%= link_to 'Destroy',
                                expense_path(expense),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add an expense', new_budget_expense_path(@budget) %>

<p>
    Savings Target:
    <%= number_to_currency(@budget.target) %>
    Current Total:
    <%= number_to_currency(@budget.total) %>
</p>

<%= link_to 'All budgets', user_budgets_path(@user) %>