<h1>Incomes</h1>
<%= link_to 'New Income', new_income_path %>

<table>
  <tr>
    <th>Income Name</th>
    <th>Amount</th>
    <th>Reoccuring</th>
    <th>Stable</th>
  </tr>
 
  <% @incomes.each do |income| %>
    <tr>
      <td><%= income.names %></td>
      <td><%= number_to_currency(income.amount) %></td>
      <td><%= human_boolean(income.reocurring) %></td>
      <td><%= human_boolean(income.stable) %></td>
      <td><%= link_to 'Show', income_path(income) %></td>
      <td><%= link_to 'Edit', edit_income_path(income) %></td>
      <td><%= link_to 'Destroy',
                                income_path(income),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>