
<p>
    Total Income For:
    <%= @income.names %>
</p>

<!--commented out pending relevant models and controllers-->


<p>
    Current Income:
    <%= number_to_currency(@income.amount) %> <br>
    Is this expense reocurring?
    <%= @income.reocurring %> <br>
    Is this a stable expense?
    <%= @income.stable %> <br>
</p>

<%= link_to 'All Incomes', incomes_path %>