
<p>
    Income name:
    <%= @income.names %>
</p>

<p>
    Income Amount:
    <%= number_to_currency(@income.amount) %> <br>
    Is this expense reocurring?
    <%= @income.reocurring %> <br>
    Is this a stable expense?
    <%= @income.stable %> <br>
</p>

<%= link_to 'Back to Budget view', budget_path(@budget) %>