<h1>Edit Expense</h1>
<%= form_for :expense, url: budget_path(@expense), method: :patch do |f| %>
 
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@expense.errors.count, "error") %> prohibited
        this expense from being saved:
      </h2>
      <ul>
        <% @expense.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 

 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :names %>
  </p>
 
  <p>
    <%= f.label :target %><br>
    <%= f.number_field :target %>
  </p>
  <p>
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </p>
  
  <p>
    <%= f.label :reocurring %><br>
    <%= f.text_field :reocurring %>
  </p>
    <p>
    <%= f.label :stable %><br>
    <%= f.text_field :stable %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Expense', expense_path %>