<h1>Edit Expense</h1>
<%= form_for :expense, url: expense_path(@expense), method: :patch do |f| %>
 
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@expense.errors.count, "error") %> prohibited
        this expense from being saved:
      </h2>
      <ul>
        <% @expense.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label "Expense name" %><br>
    <%= f.text_field :names %>
  </p>
 
  <p>
    <%= f.label "I do not want to spend more than:" %><br>
    <%= f.number_field :target, :step=> 0.01 %>
  </p>
  <p>
    <%= f.label "How much have you spent so far?" %><br>
    <%= f.number_field :amount, :step=> 0.01 %>
  </p>
  
  <p>
    <%= f.label "Does this expense occur every month?" %>
    <%= f.check_box :reocurring %>
  </p>
    <p>
    <%= f.label "Is it the same amount every month?" %>
    <%= f.check_box :stable %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back to budget view', budget_path(@budget) %>