<h1>Expenses</h1>
<%= link_to 'New Expense', new_expense_path %>

<table>
  <tr>
    <th>Expense Name</th>
    <th>Target</th>
    <th>Amount</th>
  </tr>
 
  <% @expenses.each do |expense| %>
    <tr>
      <td><%= expense.names %></td>
      <td><%= number_to_currency(expense.target) %></td>
      <td><%= number_to_currency(expense.amount) %></td>
      <td><%= link_to 'Show', expense_path(expense) %></td>
      <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
      <td><%= link_to 'Destroy',
                                expense_path(expense),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>