<h1>Add new expense</h1>

<%= form_tag :action => 'create' do %>
<p>
<label for = "expense_name">Name</label>:
<%= text_field 'expense', 'names' %>
</p>

<p>
<label for = "expense_amount">Amount</label>:
<%= text_field 'expense', 'amount' %>
</p>

<p>
<label for = "expense_reocurring">Reocurring Expense?</label>:
<%= check_box_tag 'reocurring', 'yes'  %>
</p>

<p>
<label for = "expense_stable">Stable Expense?</label>:
<%= check_box_tag 'stable', 'yes'  %>
</p>

<p>
  <label for = "date">Date</label>
  <%= date_field_tag 'date'%>
</p>

<%= submit_tag "create" %>

<% end -%>
<%= link_to 'Back', {:action => 'list'} %>
