
<p>
    Expense Breakdown:
    <%= @expense.names %>
</p>

<!--commented out pending relevant models and controllers-->


<p>
    Anticipated Spending:
    <%= number_to_currency(@expense.target) %> <br>
    Actual Spending:
    <%= number_to_currency(@expense.amount) %> <br>
    Is this expense reocurring?
    <%= @expense.reocurring %> <br>
    Is this a stable expense?
    <%= @expense.stable %> <br>
</p>

<%= link_to 'Back to Budget view', budget_path(@budget) %>