<h1>Listing Accounts</h1>
<%= link_to 'New Account', new_account_path %>
<table>
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Name</th>
    </tr>
    
    <% @accounts.each do |a| %>
        <tr>
            <td><%= a.username %></td>
            <td><%= a.password %></td>
            <td><%= a.name %></td>
            <td><%= link_to 'Show', account_path(a) %></td>
            <td><%= link_to 'Edit', edit_account_path(a) %></td>
        </tr>
    <% end %>
</table>