<h1>Show Account</h1>
<p>
    <strong>Welcome, <%= @account.name %>!</strong>
</p>

<p>
    Currently logged in as: <%= @account.username %>
</p>

<%= link_to 'Edit Account', edit_account_path(@account) %><br>
<%= link_to 'Delete Account', account_path(@account),
                method: :delete,
                data: { confirm: 'Are you sure you want to delete your account?' } %>

<h1><%= @account.name %>'s Budgets</h1>

<table>
  <tr>
    <th>Budget for month     </th>
    <th>Savings target       </th>
    <th>Current total</th>
  </tr>
 
  <% @budgets.each do |budget| %>
    <tr>
      <td><%= budget.month.strftime('%B %Y') %></td>
      <td><%= number_to_currency(budget.target) %></td>
      <td><%= number_to_currency(budget.total) %></td>
      <td><%= link_to 'Show', budget_path(budget) %></td>
      <td><%= link_to 'Edit', edit_budget_path(budget) %></td>
      <td><%= link_to 'Destroy',
                                budget_path(budget),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<h2>Add a Budget:</h2>
<%= form_for([@account, @account.budgets.build]) do |f| %>
 
  <p>
    <%= f.label :month %><br>
    <%= f.date_field :month %>
  </p>
 
  <p>
    <%= f.label :target %><br>
    <%= f.number_field :target %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
